* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(251, 250, 250);
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
}

.form-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
    flex-direction: column;
    width: 450px;
    border-radius: 30px;
}

.form-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.form-outer h1 {
    margin: 0;
    font-size: 26px;
    margin-bottom: 15px;
}

.form-inner input {
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    outline: none;
    border: 1px solid grey;
}

.form-inner .input {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
label{
    font-size: 18px;
    margin-bottom: 10px;
}
.form-outer button {
    margin-top: 15px;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

.nav-wrap {
    padding: 15px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.045);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
}

button {
    padding: 7px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
}

h1 {
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.5);
    transition: all .3s ease-in-out;
}
.container{
    margin: 10px auto;
    border-radius: 10px;
    width: 50%;
    max-height: 80vh;
    overflow-y: auto;
}
.container::-webkit-scrollbar{
    width: 0px;
}
.container .header{
    background-color: red;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
}
.container .header h1{
    color: white;
    font-size: 20px;
}
.container .header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    filter: brightness(160%);
}
.msg-container{
    padding: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.message-container small{
    text-align: right;
    width: 100%;
    display: block;
    margin-top: 2px;
    margin-bottom: 10px;
    color: grey;
    font-size: 10px;
}
.message-container{
    max-width: 75%;
}
.message-container.you{
    align-self: flex-end;
}
.message-container.sender{
    align-self: flex-start;
}
.message-container.you p{
    padding: 10px;
    background-color: red;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    color: white;
    width: 100%;
    word-break: break-all;
    font-size: 14px;
    font-weight: lighter;
}
.message-container.sender p{
    padding: 10px;
    background-color: rgb(94, 94, 167);
    border-radius: 30px;
    border-bottom-left-radius: 0;
    color: white;
    width: 100%;
    word-break: break-all;
    font-size: 14px;
    font-weight: lighter;
}
.message-container.sender p + small{
    text-align: left;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
}
.input input{
    width:95%;
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 30px;
    padding: 7px;
}
.input i{
    color: red;
    font-size: 18px;
    cursor: pointer;
}
.form-outer a{
    color: red;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
}
label.special{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
}